<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Programs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let programInfo of programs" 
        (click)="itemTapped($event, programInfo)">
      <ion-avatar item-left>
        <img [src]="programInfo.imageSrc"/>
      </ion-avatar>
      <h2>{{programInfo.name}}</h2>
      <ion-note item-right>
        Provided by {{programInfo.creator}}
      </ion-note>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>